/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

/* GENERALI */
body {
  background: linear-gradient(180deg, #009688 15%, #d5dbd8 12%);
}
img {
  width: 100%;
  border-radius: 50%;
}
i:hover {
  cursor: pointer;
}
h3 {
  font-size: 15px;
  color: black;
}
input:focus{
  outline: none;
}
.avatar {
  width: 50px;
  height: 50px;
}

/* WRAPPER e CONTAINER*/
.wrapper {
  /* min-width: 900px; */ /* TO DO - ADD*/
  max-width: 75%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  height: 90%;
  display: flex;
}


/* COL */
.top-col {
  background-color: #d5dbd8;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.top-icon {
  width: 70%;
  color: #b1b1b1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-icon i {
  padding-left: 15px;
}

/* COL LEFT*/
.col.left {
  width: 30%;
  background-color: white;
}

/* box notifiche */
.box-notifiche{
  background-color: #8edafc;
  height: 65px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.icon-bell {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-bell i {
  color: #8edafc;
  font-size: 20px;
}
.text-notifiche {
  width: 70%;
  padding-left: 10px;
}
.text-notifiche h3 {
  font-size: 12px;
}
.text-notifiche a {
  font-size: 11px;
}

/* box search */
.box-search {
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #d5dbd8;
  width: 95%;
  height: 35px;
  margin: 5px auto;
  overflow: hidden;
}
.box-search i {
  color: #b1b1b1;
  padding-right: 15px;
}
.box-search input {
  width: 120%;
  border: none;
}

/* CONTATTI */
.contact {
  height: calc(100% - 170px);
  overflow-y: auto;
}
.contanct-list {
  list-style-type: none;
}
.contact-item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.contact-item:hover {
  background-color: #b1b1b1;
}
.contact-text {
  padding-left: 10px;
  width: 80%;
}
.text-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #d5dbd8;
}
.text-bottom {
  color: #d5dbd8;
  font-size: 12px
}


/* COL RIGHT*/
.col.right {
  width: 70%;
}
.col.right .top-col {
  border-left: 1px solid #b1b1b1;
}

/* top col right */
.avatar-current {
  display: flex;
  align-items: center;
  width: 50%;
}
.avatar-current p {
  font-size: 11px;
  color: gray;
}

/* box messaggi */
.box-messaggi {
  background-image: url(../img/mine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100% - 130px);
}

/* footer messaggi */
.footer-messaggi {
  background-color: #f3eeea;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-messaggi i {
  color: #6b7376;
  font-size: 1.3em;
}
.footer-messaggi input {
  padding: 15px;
  width: 75%;
  border: none;
}
